*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li,.navbar-mobile li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar li a,.navbar-mobile li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}
.navbar-mobile li {
  transition: 0.3s ease-in-out;
}
.navbar-mobile li{
  top: 20px;
  display: flex;
  margin-left: 1rem;
  margin-top: 20px;
  align-items: center;
  color: white;
  cursor: pointer;
}
.navbar-mobile li a{
  margin-left: 20px;
}
.navbar li a:hover,.navbar-mobile li :hover{
  color:#17cf97;
}
.navbar li a:hover::after,.navbar-mobile li :hover::after{
  content:"";
  width:55%;
  height:2px;
  background: #17cf97;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.navbar-mobile li a:hover::after{
  width:fit-content;
}

.navbar-button{
  color: white;
  font-size: 20px;
  display: none;
}

.navbar-overlay{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  display: none;
  animation: fade linear 0.2s;
}

.navbar-mobile{
  position: fixed;
  top:0;
  right: 0;
  bottom:0;
  width: 320px;
  max-width: 100%;
  background-color: #1b2430;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav__input:checked ~ .navbar-overlay{
  display: block;
}

.nav__input:checked ~ .navbar-mobile{
  transform: translateX(0%);
  opacity: 1;
}

@keyframes fade{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}

@media (max-width:63.9375rem) {
  .navbar{
    display: none;
  }
  .navbar-container img{
    margin-left: -60px;
  }
  .navbar-button{
    display: block;
    margin-left: 90%;
  }
}

.brand-name-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-background{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: -1;
}
.image-background>img{
  width: 100%;
  height:90vh;
  object-fit: cover;
}

.text-overlay{
  font-size: 40px;
  color: #fff;
  font-family: NeueMontreal-Medium,sans-serif;
  text-align: center;
}

.content-overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-overlay button{
  margin-top: 40px;
  padding: 1rem 2.5rem;
    background-color: #1b2430;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
}
.box-benefit{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  width: 320px;
  height: 212px;
}
.box-benefit>img{
  width:50px;
  height: 57px;
}
.box-benefit>h2{
  font-size: 1.5rem;
  line-height: 2rem;
  color: #6a6a6a;
  align-content: center;
}
.box-benefit>p{
  text-align: center;
  color: #1b2430;
  font-size: 19px;
  color: #6a6a6a;
}
.proficiency-wrapper{
  background: #1b2430;
}

.proficiency{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 0.5%;
}

.proficiency-1,.proficiency-2{
  display: flex;
  width: 100%;
}
.proficiency-1 >img{
  margin-left:40px;
  padding-top: 18px;
  width: 30%;
  
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.box>p{
  font-size: 25px;
  font-family: NeueMontreal-Medium,sans-serif;
  width: 75%;
  text-align: center;
}

.proficiency-2>img{
  margin-right:40px;
  padding-bottom: 18px;
  width: 30%;
}

.blog-container{
  padding-top: 60px;
}

.blog-container>h2{
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  font-weight: 600;
  font-family: NeueMontreal-Medium,sans-serif;
}

.testimonials-top{
  margin-top: 150px;
}

.heading{
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
}

.testimonials-bottom{
  margin-top: 3rem;
  background-color: white;
  display: flex;
  justify-content:space-around;
}

.comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  width: 45%;
  padding-bottom: 2rem;
}

.comment h2{
  color: #6a6a6a;
}

.comment>img{
  margin-top: 2rem;
  width: 118px;
  height: 117px;
  border-radius: 59px;
}

.testimonials-bottom.star-container{
  color: #6a6a6a;
}

.subheading{
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
    color: #6a6a6a;
    margin: 1.5rem 0rem;
}

.star-container{
    margin: 0rem 0.25rem;
    font-size: 1.5rem;
    color: #4c4c4c;
}

.primary-text{
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
    color: #5d5b5b;
    margin: 1.5rem 0rem;
}

.questions-container{
  margin-top: 150px;
  padding: 30px 0;
  background-color: #1b2430;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.questions-container h1{
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
      color: #ffffff;
      /* line-height: 5rem; */

}

.question-box>input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
}

.question-box>.secondary-button{
  padding: 1rem 2.5rem;
  background-color: #1b2430;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-box{
  background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
}

.footer-container{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 1.5rem 0;
  font-family: NeueMontreal-Medium,sans-serif;
}

.footer-section-one{
  padding-left:1.5rem;
}

.footer-section-two{
  display: flex;
  justify-content: flex-end;
  
}

.section-column{
  display: flex;
  flex-direction: column;
  width: 190px;
}

.section-column span, .section-column h3{
  margin: 0.25rem 0rem;
    color: white;
    cursor: pointer;
}

.section-column span{
  font-size: 12px;
}

@media only screen and (max-width:46.1875em){
  .benefit-wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .box-benefit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
  }
  .proficiency{
    display: flex;
    display: column;
    border: 1px solid black;

  }
  .proficiency-1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .proficiency-1 img,.proficiency-2 img{
    width: 90%;
    margin: 0;
    padding-bottom: 0;
  }

.box p{
  width: 100vw;
  margin-top: 5%;
  font-size:20px;
  margin-bottom: 5%;
}

  .proficiency-2{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  } 

  .testimonials-top{
    margin-top: 100px;
    margin-bottom: -40px;
  }

  .testimonials-bottom{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top:3rem ;
    background-color: white;
  }

  .comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    width: 90%;
    padding-bottom: 2rem;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

.question-box{
  padding: 0.5rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3rem !important;
      width:90%;
}

.question-box input{
  font-size: 1rem !important;
      max-width: 100%;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.8rem !important;
      text-align: center;
}

  .secondary-button{
  font-size: 0.5rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  width:30%;
  height:30%;
  }

  .input-container{
    width:90%;
  }

  .footer-container{
    flex-direction: column;
  }

  .footer-section-two{
    flex-direction: column;
    padding-left: 1.5rem;
  }

  .section-column{
    margin-top: 1rem;
  }

}

.ask-question-container{
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: content;
  width: 100%;
  flex-direction: column;
}

.ask-question-container h2{
  margin-bottom: 20px;
  color:#6a6a6a; 
  font-weight: 600;
}

.input-container{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 1px 1px 5px;
}

.input-container input, .input-container textarea{
  border: 0;
  margin:  10px 0;
  padding: 20px;
  outline: none;
  font-size: 16px;
  background: #f5f5f5;
}

.input-container button{
  background: #1b2430;;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin:20px auto 0;
  border-radius: 30px;
}

@media only screen and (min-width:46.25rem ) and (max-width:63.9375rem){
  .footer-container{
    flex-direction: column;
  }

  .footer-section-two{
    margin-left: 5%;
    margin-top: 3%;
  }
  
  .section-column span{
    font-size: 12px;
  }
}

/*Shop Page*/

.shop-page-container{
  margin-top: 20px;
}
.filter-container {
  display: flex;
  list-style: none;
  padding-bottom: 3px;
  border-bottom: 1px dotted ; 
}
.filter-container li a{
  text-decoration: none;
  color: #1b2430;
  padding-left: 20px;
  font-size: 17.5px;
  font-family: NeueMontreal-Medium,sans-serif;
  
}
.product-container{
  margin-top: 30px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.item{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25%;
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: border-box;

}
.item img{
  margin-bottom: 10px;
}
.item p{
  font-family: NeueMontreal-Medium,sans-serif;
  font-size: 14.5px;
  color:#6a6a6a
}
.blog-container-page{
  display: flex;
  flex-direction: column;
}
.blog-container-page h2{
  margin-top:40px;
  margin-left: 20px;
  font-weight: 800;
}
.blog-section-sort{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  width: 33.3%;
  height: 80vh;
  padding-left: 2%;
  padding-right: 2%;
}
.blog-section-sort img{
  object-fit: fill;
  height: 100%;
}
.title{
  margin-top: 30px;
  height: 80%;
  width: 100%;
}
.title a{
  text-decoration: none;
  margin-top: 20px;
  color: black;
  font-weight: 800;
}
.title p{
  color:#6a6a6a;
  margin-top: 2%;
}
.blog-section{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
}









  

